/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;

  --vt-c-background: #f4f7ff;
  --vt-c-primary: #2b3674;

  --vt-c-blue-1: #4318ff;
  --vt-c-blue-2: #868cff;
  --vt-c-blue-3: #707eae;
  --vt-c-faded-gray: #a3aed0;
  --vt-c-green: #05cd99;
  --vt-c-divider: #f4f7fe;
  --vt-c-shadow: #7090b01f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background-color: var(--vt-c-background);
  line-height: 1.6;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
